.designbottoml{
    height: 58em;
}
/*CABECERA */
.designheadl{
    height: 7em;
    background-color:#1f4499;
}
.desinglogol{
    width: 40em;
    height: 7em;
}
.logol{
    background-color: #1f4499;
    width: 20em;
    height: 7em;
}
.designLogin{
    background-color:#1f4499 ;
    height: 50em;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
/*LOGIN */
.sendButton{
    height: 2em;
    width: 6em;
    margin-top: 2em;
    background-color: green;
    color: white;

    border-radius: 0.2em;
}
.input{
    border-radius: 0.6em;
    width: 18em;
    height: 2em;
    margin-top: 1em;
}