.designbottoml{
    height: 58em;
}
/*CABECERA */
.designHeadl{
    height: 7em;
    background-color:#1f4499;
}
.desingLogol{
    width: 40em;
    height: 7em;
}
.logol{
    background-color: #1f4499;
    width: 20em;
    height: 7em;
}
.designLogin{
    background-color:#1f4499 ;
    height: 50em;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

/*LOGIN */
.sendButton{
    height: 2em;
    width: 6em;

    margin-top: 2em;
    background-color:yellow;
    color: black;

    border-radius: 0.2em;
}
.input{
    border-radius: 0.5em;
    width: 25em;
    height: 2.5em;
    margin-top: 1em;
}