/*FONDO */
.designBottonr{
    background-image: url(../../assets/img/fondoregister.jpg);
    background-size: cover;
    height: 100vh;
    background-color: #1f4499;
}
.designRegister {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10em;
    padding-left: 40em;
}
.botonSend {
    cursor: pointer;
    border-radius: 0.2em;

    height: 2em;
    width: 6em;
    margin-top: 2em;

    background-color: yellow;
    transition: 0.4s;

}
/*DISEÑO DE LOS INPUTS */
.inputRegister{
    border-radius: 0.5em;
    width: 18em;
    height: 2em;
    margin-top: 1em;
}
/*IMAGEN FONDO */


