/*FONDO */
.designbottonr{
    height: 100vh;
    background-color: #1f4499;
}
/*HEADER */
.designheaderr{
    height: 7em;
    background-color:#1f4499;
}
.desinglogor{
    width: 40em;
    height: 7em;
}
.logor{
    background-color: #1f4499;
    width: 20em;
    height: 7em;
}

.designRegister {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botonSend {
    cursor: pointer;
    border-radius: 0.2em;

    height: 2em;
    width: 6em;

    background-color: red;
    transition: 0.4s;

}

.botonSend:hover {
    transition: 0.4s;
    background-color: darkred;
}
