/*FONDO */
.designBottonr{
    background-color: #1f4499;
    background-size: cover;
    background-color: #1f4499;
    height: 98vh;
}
/*DISEÑO DE LOS INPUTS */
.generalRegister{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signupRegister{
    color: whitesmoke;
}
.inputRegister{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: white 0.2em solid;
    border-radius: 0.5em;
    width: 23em;
    height: 2em;
    margin-top: 1em;
}
/*IMAGEN FONDO */
.textoRegister{
    color: whitesmoke;
    font-size: xx-large;
}

.botonSend {
    cursor: pointer;
    border-radius: 0.2em;

    height: 2em;
    width: 10em;
    margin-top: 2em;

    background-color: yellow;
    transition: 0.4s;

}
