/* 
.loader {
    
    height: 10em;
} */
.displayHome{
    background-color: #1f4499 ;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.generalPeliculas{
    background-color: #1f4499;
}
.designPeliculas{
    background-color: lightblue;
    width: 30em;
    border: 0.1em solid #1f4499;
    border-radius: 0.6em;
    padding: 1em;
    margin: 1em;

}
.tituloPeliculas{
    background-color: #1f4499
}

.cartel {
    height: 15em;
}