
.profileUser{
    background-color: #1f4499;
    height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.2em solid #1f4499;

}
.invisible{
    height: 0.2em;
}

.update{
    background-color: yellow;
    border: 0.2em solid transparent;
    border-radius: 0.5em;
    width: 3.5em;
}
.unLog{
    color: white;
    border: 0.2em solid transparent;
}
.gpedidosUser{
    float: left;
}
.pedidosUser{
    border: 0.1em solid whitesmoke;
    color: whitesmoke;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6em;
}
.pedidoColor{
    color:whitesmoke;
}